:root {
  --bg: #0c0c0c;
  --text: rgba(235,235,235,0.72);
  --text-strong: rgba(255,255,255,0.95);
  --borderColor :rgba(255,255,255,0.10);
  --border:1px solid var(--borderColor);
  --lighGray: rgb(150,150,150);
  --gray : rgb(100,100,100);
  --darkGray : rgb(60,60,60);

  --text-inverted: black;

  --input-background: white;
  --input-background-ok: rgb(228, 255, 231);
  --input-background-ko: rgb(255, 227, 227);

  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-pill: 999px;

  --cardPadX : 30px;
}