body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0; 
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  width:100%;
  gap: 1rem;
  position: sticky;
  top: 0;
  left:0;
  height: var(--nav-height);
}

.nav-item {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: inherit;
}



.login-container {
    place-self: center;
    border-radius: 0.5em;
    font: 1.2em sans-serif;

    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-top: 50px;
    background: var(--color-nav);
    backdrop-filter: blur(2px);
}



