.techDl { display: grid; gap: 12px; }
.row dt, .row dd { margin: 0; }

.row dt{
    margin-bottom: 7px;

}
.row dd{
    font-size: 16px;

}

.flatText{
    color: var(--lighGray);
    font-size: 12px;
}

.rowList {
  display: grid;
  gap: 10px;
}

.projectRow {
  margin-inline: calc(-1*var(--cardPadX));
  margin-top: -1px;
  padding-inline: var(--cardPadX);

  background: var(--bg);
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--borderColor);
}

.projectRowInner {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 0;
}

@media (max-width: 520px) {
  .projectRowInner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.linkFooter {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.linkFooter a{
    padding: 0 10px;
}
